.section-header {
    text-align: center;
    padding-bottom: 60px;
  }
  .sections-bg {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 200px;
    background-color: #f6f6f6;
  }

  section {
    outline: 2px solid #008374;
    padding: 100px;
    padding-bottom: 150px;
    overflow: hidden;
  }

.btn{
    font-size: larger;
    border-radius: 5px;
    color:white;
    padding-left: 30px;
    padding-right: 30px;
    
}

.form-control {
    box-shadow: 1px 1px #423d3d;
    margin-left:100px;
    margin-right: 100px;
}

.btnLogin{
    text-align: center;
}

.col-sm-2{
  white-space: nowrap;
    margin-left:100px;
    margin-right:100px;
}

.mb-3{
    margin-left: 140px;
    margin-right: 280px;
}

.chkbox{
  margin-left: 100px;
  margin-top: 50px;

}

.div1{
  font-size: smaller;
}