
<h1> My Cart </h1>
<section>
   <!-- <div  [hidden]="visibility" *ngFor = 'let book of books'>    ** For adding books to the page as they are added to checkout list     -->
    <div>
        <div>
            <p></p>
     <!--   <div *ngIf="book.checkout">  ** If book checkout == true appear 
            <p>{{book.title}}</p> ** Book title. Maybe show book cover? -->
        
        </div>
      <!--  <button (click)="checkoutBook()">Checkout Book </button> ** Checkout Book Button to add to HasRead list  -->
    </div>
</section>

<span> Nothing but a test </span>
<a href="#top"> To the top</a>
<section id="hero" class="hero" >
    <a class="btn-get-started" style="background-color: #008374">Checkout Books</a>
  </section>