<!-- ======= Featured Section ======= -->
<section id="feature" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-books" *ngFor="let book of books">
                <div class="portfolio-wrap">
                  <a href="" data-gallery="portfolio-gallery-app" class="glightbox"><img [src]="book.formats['image/jpeg'] | imageSizePipe:'medium'" class="img-fluid" alt=""></a>
                  <div class="portfolio-info">
                    <h4><a href="" title="More Details">{{book.title}}</a></h4>
                    <h5>Authors:</h5>
                    <p *ngFor="let author of book.authors">{{author.name}}</p>
                    <section id="hero" class="hero" >
                      <a class="btn-get-started" style="background-color: #008374" (click)="addBook()">Rent Book</a>
                    </section>
                  </div>
                </div>
            </div><!-- End Featured Item -->

        </div><!-- End Featured Container -->

      </div>

    </div>
  </section><!-- End Featured Section -->
