 
  @media (min-width: 1365px) {
    .hero {
      background-attachment: fixed;
    }
  }
  
  .hero h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  
  h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
  }
  
    
  .hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .hero .icon-box .title a {
    color: #fff;
    transition: 0.3s;
  }
  
 

  .container1 {
    position: relative;
    width: 50%;
    margin-bottom: 20px;
  }
    
  .container1 .btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }

h2{
  text-align: center;
  padding-bottom: 60px;
}

