<section id="feature" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Search Inventory</h2>
      </div>
      
        <div>
            <input id="1" type="text" [(ngModel)]="titleSearch" class="form-control" placeholder="Book Title">
            <button class="btn" (click)= showByTitle() style="background-color: #008374;">Search By Title</button>
        </div>
        <br>

        <div>
            <input id="2" type="text" [(ngModel)]="authorSearch" class="form-control" placeholder="Book Author">
            <button class="btn" (click)= showByAuthor() style="background-color: #008374;">Search By Author</button>
        </div>
        <br>

        <div>
            <input id="3" type="topic" [(ngModel)]="topicSearch" class="form-control" placeholder="Book Topic">
            <button class="btn" (click)= showByTopic() style="background-color: #008374;">Search By Topic</button>
        </div>
        <br> <br>

        <app-books [books] = "books"></app-books>

