<header id="header" class="header d-flex align-items-center" style="background-color: #008374;">  
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" >
      <a class="logo d-flex align-items-center">
        <h1>Amplifire<span>!</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
          <li><a routerLink="/search" routerLinkActive="active">Search Inventory</a></li>
          <li><a routerLink="/checkout" routerLinkActive="active">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bookshelf" viewBox="0 0 16 16">
                  <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
                </svg>
              </a>
          </li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>