<header id="header" class="header d-flex align-items-center" style="background-color: #008374;">  
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" >
      <a href="#team" class="logo d-flex align-items-center">
        <h1>Amplifire<span>!</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="#login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/books" routerLinkActive="active">Featured Books</a></li>
          <li><a routerLink="#feature" routerLinkActive="active">Register</a></li>
          <li><a routerLink="/search" routerLinkActive="active">Search Inventory</a></li>
          <li><a routerLink="/checkout" routerLinkActive="active"><img src="assets/img/checkout.jpg"></a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>