<!-- ======= Register Section ======= -->
<section id="feature" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Register</h2>
        </div>
        <br>
 
        <div class="mb-3 row">

            <label class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName">
            </div>

            <br><br><br>

            <label class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastName">
            </div>

            <br><br><br>

            <label class="col-sm-2 col-form-label">Create New Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="userName">
            </div>

            <br><br><br>

            <label class="col-sm-2 col-form-label">Create New Password:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="password">
            </div>

        </div>

        <br><br><br>

        <div class="btnRegister">
            <button class="btn" style="background-color: #008374;">Register</button>
        </div>
    </div>

</section>
